.rocket-card {
  display: flex;
  gap: 2rem;

  img {
    width: 20rem;
    border-radius: 0.25rem;
  }

  .rocket-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      font-size: 1.5rem;
    }

    .reserved-badge {
      background-color: #4498b9;
      color: #fff;
      padding: 0.25rem;
      border-radius: 0.5rem;
      margin-right: 0.5rem;
    }

    .button {
      background-color: #3e82ff;
      color: #fff;
      border: 1px solid;
      border-radius: 0.25rem;
      text-transform: capitalize;
      font-size: 1.25rem;
      padding: 0.75rem;
      cursor: pointer;
    }

    .cancel-button {
      background-color: #fff;
      color: #3e82ff;
    }
  }
}
